<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
     
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->


  <!-- Main content -->  
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5 mx-2 blockquote">Servicios</h2>
        <div class="card">
          <div class="card-header">
            <nav class="navbar bg-light mx-3">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
     
                <button class="btn btn-success float-right mt-1" data-toggle="modal" data-target="#crearMaterial"><i class="fa-solid fa-plus"></i></button>
            </nav>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <section class="ftco-section">
              <div class="container">
                <div class="row justify-content-center">
          
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-wrap">


                      <table id="example2" class="table table-bordered table-hover">
                        <thead class="table-dark">
                          <tr>
                            <th>Nombre Servicio</th>
                            <th>Categoría</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let servicio of servicios">
                             <td>{{ servicio.nombre }}</td>
                             <td>{{ servicio.categoria }}</td>
                             <td>{{ servicio.estado }}</td>
                             <td>{{ servicio.fecha }}</td>
                             
                             <td><button class="btn btn-warning m-2" data-toggle="modal" data-target="#exampleModal" (click)="cargarServicio(servicio)" ><i class="fa-solid fa-pen-to-square"></i></button> <button class="btn btn-danger" (click)="eliminarServicio(servicio)"><i class="fa-sharp fa-solid fa-trash-can"></i></button></td>
                       
                       
                          </tbody>
                       
                      </table>
                    
                    </div>
                  </div>
                </div>
              </div>
            </section>
          
          </div>
          <!-- /.card-body -->
        </div>
    
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->



  

<!-- crearUsu -->
<div class="modal fade" id="crearMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Registrar servicios</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="container">
           <!-- Info boxes -->
           <div class="row">
      
            <div class="col-lg-12">
                      <form class="mt-3" [formGroup]="serviciosForm" (ngSubmit)="agregarServicio()">
                          <div class="mb-3">
                              <input type="text" formControlName="nombre" [(ngModel)]="selectedServicio.nombre" class="form-control form-control-lg"
                                  placeholder="Nombre">
                              <div class="text-danger"
                                  *ngIf="serviciosForm.get('nombre')?.hasError('required') && serviciosForm.get('nombre')?.touched">
                                  <span>El nombre del producto <strong>es obligatorio</strong></span>
                              </div>
                              <div class="text-danger"
                                  *ngIf="serviciosForm.get('nombre')?.hasError('pattern') && serviciosForm.get('nombre')?.dirty">
                                  <span>Ingrese solo <strong> texto </strong></span>
                              </div>
                          </div>

                          <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Estado</label>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>Obra blanca</option>
                              <option value="1">Obra negra</option>
                              <option value="1">Obra gris</option>
                            </select>
                          </div>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>
                        </div>
                          <div class="mb-3" class="modal-footer">
                              <!-- <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button> -->
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          <button type="submit" [disabled]="serviciosForm.invalid" class="btn btn-success">Registar</button>
                          </div>
                      </form>
                  </div>
              </div>

          </div>


          </div>

      </div>

  
    </div>
  
    
  </div>





<!-- modificarUsu -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modificar Servicio</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="container">
           <!-- Info boxes -->
      <div class="row">
       

        <div class="col-lg-12">
          <form class="mt-3" [formGroup]="serviciosEditForm" (ngSubmit)="modificarServicio()">
              <div class="mb-3">
                  <input type="text" formControlName="nombre" [(ngModel)]="editServicio.nombre" class="form-control form-control-lg"
                      placeholder="Nombre servicio">
                  <div class="text-danger"
                      *ngIf="serviciosEditForm.get('nombre')?.hasError('required') && serviciosEditForm.get('nombre')?.touched">
                      <span>El nombre del nombre del servicio<strong>es obligatorio</strong></span>
                  </div>
                  <div class="text-danger"
                  *ngIf="serviciosEditForm.get('nombre')?.hasError('pattern') && serviciosEditForm.get('nombre')?.dirty">
                  <span>Ingrese solamente <strong> texto </strong></span>
              </div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Estado</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Obra blanca</option>
                  <option value="1">Obra negra</option>
                  <option value="1">Obra gris</option>
                </select>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>
            </div>
              <div class="mb-3" class="modal-footer">
                  <!-- <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button> -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
              <button type="submit" [disabled]="serviciosEditForm.invalid" class="btn btn-success">Guardar</button>
              </div>
          </form>
      </div>

      </div>
      </div>

  </div>
    </div>
  </div>


</div>
<!-- </div> -->




</section>



<!-- </div> -->

