<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

 

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-5 mx-2 blockquote">Clientes</h2>
            <div class="card">
              <div class="card-header">
                <nav class="navbar bg-light mx-3">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
         
                    <button class="btn btn-success float-right mt-1" data-toggle="modal" data-target="#crearUsu"><i class="fa-solid fa-plus"></i></button>
                </nav>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <section class="ftco-section">
                  <div class="container">
                    <div class="row justify-content-center">
              
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-wrap">


                          <table id="example2" class="table table-bordered table-hover">
                            <thead class="table-dark">
                            <tr>
                              <th>Nombre cliente</th>
                              <th>Documento</th>
                              <th>Teléfono</th>
                              <th>Dirección</th>
                              <th>Estado</th>
                              <th>Fecha</th>
                              <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cliente of clientesArray">
                              <td>{{ cliente.nombreCliente }}</td>
                               <td>{{ cliente.documento }}</td>
                               <td>{{ cliente.telefono }}</td>
                               <td>{{ cliente.direccion }}</td>
                               <td>{{ cliente.estado }}</td>
                               <td>{{ cliente.fecha }}</td>
                               
                              <td><button class="btn btn-warning m-2" (click)="cargarCliente(cliente)" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button> <button class="btn btn-danger" (click)="eliminarCliente()"><i class="fa-sharp fa-solid fa-trash-can"></i></button></td>
                         
                            </tbody>
                           
                          </table>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              
              </div>
              <!-- /.card-body -->
            </div>
        
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

    </section>




<!-- modificarUsu -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
             <!-- Info boxes -->
             <form>
            <div class="row p-2">
            <div class="col-md-12">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre cliente</label>
                <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese el nombre">                
              </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Documento</label>
              <input type="number" [(ngModel)]="editCliente.documento" class="form-control" placeholder="Ingrese el documento">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
              <input type="text" [(ngModel)]="editCliente.telefono" class="form-control" placeholder="Ingrese el nombre teléfono">
            </div>
             <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Dirección</label>
              <input type="text" [(ngModel)]="editCliente.direccion" class="form-control" placeholder="Ingrese la dirección">
            </div>


            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Estado</label>
              <input type="text" [(ngModel)]="editCliente.estado" class="form-control" placeholder="Ingrese el estado">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Fecha</label>
              <input type="text" [(ngModel)]="editCliente.fecha" class="form-control" placeholder="Ingrese la fecha">
            </div>
          </div>
        </div>
      </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editarCliente()">Modificar</button>
      </div>
    </div>

  </div>
</div>



<!-- crearUsu -->
<div class="modal fade" id="crearUsu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
             <!-- Info boxes -->
             <div class="row p-2">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Nombre cliente</label>
                  <input type="text" [(ngModel)]="selectedCliente.nombreCliente" class="form-control" placeholder="Ingrese el nombre">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Documento</label>
                  <input type="number" [(ngModel)]="selectedCliente.documento" class="form-control" placeholder="Ingrese el documento">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
                  <input type="text" [(ngModel)]="selectedCliente.telefono" class="form-control" placeholder="Ingrese el teléfono">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Estado</label>
                  <input type="text" [(ngModel)]="selectedCliente.estado" class="form-control" placeholder="Ingrese el estado">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                  <input type="date" [(ngModel)]="selectedCliente.fecha" class="form-control" placeholder="Ingrese la fecha">
                </div>
              </div>
            </div>


        </div>

    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="agregarCliente()" data-dismiss="modal">Guardar</button>
      </div>
    </div>

  </div>
</div>



</div>